@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", san-serif;
  color: #222;
}

nav {
  position: absolute;
}
.nav-text {
  color: #b4b4b4;
}

.navbar {
  padding: 0.2rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

h1.logo {
  font-weight: 300;
  color: #b4b4b4;
  letter-spacing: -2px;
  font-family: "Roboto", sans-serif;
}

.carousel-inner img {
  height: auto;
  width: 100%;
}

.blur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
}

.carousel-caption button {
  width: 300px;
  margin-top: 40px;
  margin-left: 20px;
  align-self: center;
}

.carousel-inner {
  background-color: #3f3f3f;
}

/*---Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .card-title {
    font-size: 115%;
  }
  .card-text {
    font-size: 90%;
  }
}
@media (max-width: 576px) {
  h1.logo {
    font-weight: 300;
    color: #b4b4b4;
    letter-spacing: -2px;
    font-family: "Roboto", sans-serif;
    font-size: 200%;
    padding-left: 10px;
  }

  .carousel-caption h1 {
    font-size: 400%;
  }

  .carousel-caption {
    position: absolute;
    top: 40%;
    transform: translateY(-60%);
  }

  .carousel-inner img {
    width: 1000px;
    height: 450px;
    overflow: hidden;
    align-self: center;
  }

  .carousel-caption h3 {
    font-size: 120%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
  }

  .carousel-caption button {
    font-size: 110%;
    display: block;
    align-self: center;
  }
}

@media (max-width: 360px) {
  .carousel-caption h1 {
    font-size: 350%;
    align-self: center;
  }

  .carousel-caption h3 {
    font-size: 110%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
  }

  .carousel-caption button {
    font-size: 95%;
    display: block;
    align-self: center;
    width: 100%;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url("img/mac.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
