body {
  text-align: center;
  margin: auto;
}

.App {
  padding-top: 4rem;
  min-height: 100vh;
  background-color: #fafafa;
}

.user-name {
  padding-bottom: 2%;
}

.user-info {
  padding-left: 2.5rem;
}

.server-is-running-warning {
  padding-top: 5rem;
}

.landing-page {
  padding: 10rem;
  margin: 1rem;
  background-color: lightgray;
}

.loading {
  padding: 5rem;
}

.login {
  padding-top: 5rem;
}

.register {
  padding-top: 3rem;
}

.loading-text {
  display: "flex";
  justify-content: "center";
  padding-bottom: 1rem;
}

.no-users {
  padding-top: 5rem;
  display: "flex";
  justify-content: "center";
}

.btn-register {
  margin: 2rem;
  width: 15rem;
}

.styled-link,
.styled-link:focus,
.styled-link:hover,
.styled-link:link,
.styled-link:visited,
.styled-link:active {
  text-decoration: none;
  color: white;
}

.black-text {
  color: black !important;
}

.user-list {
  background-color: #fafafa;
}

.filter {
  padding: 2rem;
}

.register-form {
  padding-left: 2rem;
  padding-right: 2rem;
}

textarea {
  resize: none;
}

.select-role {
  margin-top: 1.7rem;
}

.cadastro-text {
  margin-bottom: 1rem;
}

.botao-registrar {
  margin-top: 2rem;
}
